

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main-styles.css">
      
    </head>

    <body>
        <header>
            <h1>{{title}}</h1>
            <h2><a href="/">Search Again</a></h2>
        </header>
        <main>
            <h2>{{venues.snippet.title}}</h2>
                <iframe width="480" height="360" src="https://www.youtube.com/embed/{{venues.id}}" title="{{venues.snippet.title}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            
           
            <div class="video_details">
                   
                
                <h3>Date published: {{date}} &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp  <img src="/public/images/up.png" width="20"> {{likes}} &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp <br> Views {{views}}</h3>
                <h4>Description</h4>
                <p>{{{desc}}}  &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp </p>
                <p>Tags: {{venues.snippet.tags}}  &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp </p>
            </div>

        </main>
    </body>