
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main-styles.css">
        
    </head>

    <body>
        <header>
            <h1>{{title}}</h1>
            <h2>Search Term: {{searchVenueTerm}}&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/">Search Again</a></h2>
             <form method="POST" action="/prevSearchVenues">
                <input type="submit" value="Prev">
             </form>
             <form method="POST" action="/nextSearchVenues">
                <input type="submit" value="Next">
             </form>

        </header>
        <main>
           
            <ol>
                {{#each venues}}

                <li class="list_vids">
                    &nbsp&nbsp&nbsp&nbsp<a href="/venuedetails/{{id.videoId}}">{{snippet.title}}</a>
                    &nbsp({{snippet.publishedAt}})&nbsp {{snippet.channelTitle}}&nbsp ChannelId: {{snippet.channelId}}&nbsp ▶ Id. {{id.videoId}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <br>
                 <p>&nbsp&nbsp&nbsp&nbsp<img alt="{{snippet.thumbnails.default.url}}" src="{{snippet.thumbnails.medium.url}}">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{snippet.description}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                    
                </li>
                <br>
               
                
                {{/each}}
            </ol>
             
                 <form method="POST" action="/prevSearchVenues">
                <input type="submit" value="Prev">
             </form>
             <form method="POST" action="/nextSearchVenues">
                <input type="submit" value="Next">
             </form>
         
            
        </main>
    </body>